* {
    margin:0;
    padding:0;
}

#auth-wrapper{
    margin:0px;
    /* padding: 100px 0px 150px; */
    min-width: 1200px;
    height: calc(100vh - 68px - 100px - 150px);
    min-height: 900px; 

    /* 안에 있는 얘 중앙정렬을 위해 */
    display:flex;
    justify-content: center;
    align-items: center;


    background-image: url(assets/image/bible-on-wood.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.auth-container {
    width: 1200px;
    height: 70%;

    display: grid;
    /* 7:5의 비율로 중간에 78px의 갭이 잡혀서 */
    grid-template-columns: 7fr 5fr;
    column-gap: 78px;
}

.auth-jumbotron-box {
    grid-column: 1/2;

    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.auth-jumbotron-contents {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;

}
.auth-logo-icon{
   width:50px;
   height:50px;
   background-image: url(assets/image/auth-logo.png);
   background-position: 50% 50%;
   background-size: 100% 100%; 
}
.auth-jumbotron-text-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
}

.auth-jumbotron-text {
    color: rgba(255,255,255,1);
    font-family: 'GimhaeGaya';
    font-size: 35px;
    font-weight: 400;
    line-height: 140%;
    line-height: 140%;
    letter-spacing: -1.2px;
    text-align: center;


}
.auth-card {
    grid-column: 2 / 3;
    border-radius: 10px;
    padding: 50px 50px 30px;

    background-color: rgba(255,255,255,1);
    box-shadow: 0px 4px 47px 0px rgba(0,0,0,0);
}

.auth-card-box {
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:50px;
}

.auth-card-top {
    display:flex;
    flex-direction: column;
    gap: 40px;

}
.auth-card-title-box { 
    display:flex;
    justify-content: space-between;
}
.auth-card-title {
    color: rgba(0,0,0,1);
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;

}
.auth-card-title {
    color: rgba(0,0,0,0.7);
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;

}

.auth-card-bottom {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}

.auth-sign-in-error-box {
    margin-bottom: -4px;
}
.auth-sign-in-error-message {
    color: rgba(255,0,0,0.7);
    font-weight: 400;
    line-height: 140%;
    font-size: 12px;

    /* 줄바꿈 */
    white-space: pre-wrap;

}

.auth-description-box {
    display: flex;
    justify-content: center;
}

.auth-description {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
.auth-description-link {
    color: rgba(0,0,0,1);
    cursor:pointer;
    font-weight: 600;
}
